$bp-small: 552px;
$bp-medium: 766px;
$bp-big: 992px;
$bp-main: 1280px;
$bp-main_big: 1920px;

$offset: 15px;
$time: 0.3s;

$color-brand: #0095ff;
// $color-sub-brand: ;
// $color-text: ;
// $color-text_lighter: ;
