.btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;

  &_test-class {
    padding: $offset;
    border: solid 1px $color-brand;
    border-radius: $offset / 3;
  }
}
