.checkbox {
  width: 20px;
  height: 20px;
  border: solid 1px $color-brand;
  transition: background-color $time;

  &:hover,
  &:focus {
    background-color: $color-brand_lighter;
  }

  &_active {
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      background-color: $color-brand;
    }
  }
}

// &__item-checkbox-container {
//   // display: block;
//   // position: relative;
//   // padding-left: 35px;
//   // margin-bottom: 12px;
//   margin-top: 3px;
//   margin-right: 34px;
//   cursor: pointer;
//   // font-size: 22px;
//   -webkit-user-select: none;
//   -moz-user-select: none;
//   -ms-user-select: none;
//   user-select: none;
// }

// &__item-checkbox {
//   // margin-right: 20px;
//   position: absolute;
//   opacity: 0;
//   cursor: pointer;
//   height: 0;
//   width: 0;

//   &:checked ~ #{$module} &__item-my-checkbox {
//     background-color: red;
//   }

//   // &::before {
//   //   content: '';
//   //   display: block;
//   //   position: relative;
//   //   z-index: 2;
//   //   width: 20px;
//   //   height: 20px;
//   //   top: 0;
//   //   left: 0;
//   //   border: 1px solid $color-brand;
//   //   border-radius: 0;
//   //   background-color: white;
//   // }
// }

// &__item-my-checkbox {
//   position: absolute;
//   top: 0;
//   left: 0;
//   height: 20px;
//   width: 20px;
//   border: 1px solid $color-brand;
//   background-color: $color-bright;
//   transition: background-color $time;

//   &:hover,
//   &:focus {
//     background-color: $color-brand_lighter;
//   }
// }
